.Table-container {
  overflow-x: auto; /* Needed for table to be responsive */
}

.Table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.Table-head {
  background-color: #4c5551;
}

.Table-head tr th {
  padding: 10px 20px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  
}

.Table-body {
  text-align: center;
  background-color: #343b39;
}

.Table-body tr td {
  padding: 24px 20px;
  border-bottom: 2px solid #ff0ab5;
  cursor: pointer;
}

.Table-body tr td img{
  max-height: 115px;
}

.Loading-container {
margin: 5px 0;
text-align: center;
}